*{
    margin: 0;
    font-family: arial;
    border: border-box; /* EXPLANATION: Content will get less space if border box size is increased */
  
}

.navbar{
    height: 60px;
    /* background: linear-gradient(to right, rgb(19, 25, 33), rgb(37, 73, 39)); */
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
   background-image: url("amazon.png");
    height: 50px;
    width: 100%;
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    top: 10px
    
}

.border{
    border: 1.5px solid transparent;
    
}

.border:hover{
    border: 1.5px solid white;
}

/* BOX 2: Address */
.address-first{
    color: #CCCCCC;
    font-size: 0.8rem; 
      margin-left: 20px;

}

.address-second{
    font-size: 1rem;
  

}

.add-icon{
    display: flex;
    

}

/* BOX 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 730px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 1.5px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    color: grey;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    
}

.search-input{
    width: 100%;
    font-size: 1.1rem;
    border: none;
}

.search-icon{
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    font-size: 1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Box 4 */
.lang{
    height: 55px;
    width: 60px;
    display: flex;
    align-items: center;
    margin-left: 5px;

}

.lang-logo{
    height: 16px;
    width: 20px;
    background-image: url("usflag.jpg");
    background-size: cover;
    display: flex;
    
   
}

.lang-text{
    display: flex;
    font-weight: bold;
    
    
    
}

.lang-search{
    
    position: relative;
    top: 3px;
    border: none;
    background-color: transparent;
    color: grey;
    font-weight: bolder;
    margin-left: 0px;
    padding-left: 0px;
    
}

/* Box 5 */
.greet{
    height: 40px;
    width: 150px;
    margin-top: 8px;

  
}

.greet-text1{
    font-size: 0.75rem;
  

}

.inlin{
    display: flex;
    justify-content: center;
}
.greet-text2{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    width: 100%;
}

.greet-select{
    
    background-color: transparent;
    color: grey;
    align-content: flex-end;
    border: none;
    
}

/* Box 6 */
.return{
    height: 40px;
    width: 90px;
    margin-top: 8px;

  
}

.return-text1{
    font-size: 0.75rem;
  

}

.return-inline{
    display: flex;
    justify-content: center;
}
.return-text2{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    width: 100%;
}
/* Box 7 */

.cart{
    height: 40px;
    width: 90px;
    margin-top: 8px;

}


.cart-text1{
    margin-left: 7px;
    font-size: 0.7rem;
}

.cart-inline{
    display: flex;
}
.cart-text2{
    font-size: 1rem;
    font-weight: bolder;
 

}

/* PANEL */

/* PANEL ALL */
.panel{
    height: 39px;
    display: flex;
    align-items: center;
    background-color: rgb(35, 47, 62);
    color: white;
    

}
.panel-all{
    height: 40px;
    width: 60px;
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
   
}

.panel-ops p{
    display: inline;
    padding: 10px 12px 10px 12px;
    font-size: 0.87rem;
}

.panel-ops{
    width: 76%;
    font-weight: light;
    font-size: 1rem;
}

.panel-deals{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    

}

/* Hero Section */
.hero-section{
    height: 350px;
    width: 100%;
    background-image: url("hero3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  

}


.hero-text1{
    height: 40px;
    width: 80%;
    background-color: white;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 200px; */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    
}
.hero-section a{
    text-decoration: none;
    color: rgb(50, 50, 133);
}
.hero-text1 a:hover{
    text-decoration: underline;
 
}

/* Shop Section */

.shop-section{
    display: flex;
    justify-content: space-evenly ;
    background-color: #e2e7e6;
    flex-wrap: wrap;


}


.box{
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px 0px;
    margin-top: 15px;

}

.box-image{
    height: 270px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

    
}

.box-content{
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    
}

.box-content a{
    text-decoration: none;
    color: #2162a1;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}

.box-content h2{
    display: inline;
   
}

/* Footer (back to top) */

.text1-content{
    display: flex;
    justify-content: center;

}

.text1{
    height: 39px;
    width: 100%;
    background-color: #35475d;
    color: white;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 350;

    display: flex;
    justify-content: center;
    align-items: center;   

}

/* 2nd Panel */
.footspacing{
    height: 291px;
    width: 100px;
}
.second-panel{
    height: 360px;
    width: 100%;
    background-color: rgb(35, 47, 62);
    display: flex;
    justify-content: space-evenly;
    color: white;
   align-items: center;

}

.foot-box{
    height: 290px;
    width: 170px;
    
}

.headfoot1{
    color: white;
    font-size: 1rem;
    font-weight: bold;

    margin: 6px 0px 14px 0px;
}

.listing1 ul li a {
    color: white;         
    text-decoration: none; 
    display: block;        
    margin-bottom: 5px; 
    font-size: 0.85rem;    
    line-height: 1.5;
}
.listing1 a:hover{
    text-decoration: underline;
}
.listing1 ul{
    list-style: none;  
    color: white;

   margin: 0px;
   padding: 0px;
}
.listing1 hr{
    color: black;
}

/* Second Panel Extended */
.amazon-panel{
    height: 70px;
    background-color:  rgb(35, 47, 62); 
 
    border-top: 0.25px solid white;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.amazon-panel-logo{
    background-image: url("amazon_foot.png");
     height: 50px;
    width: 100px;

   
   
    background-size: cover;
    
    background-position: center;

}

/* First box */
.first_box{
    height: 33px;
    width: 131px;
    border: 0.5px solid white;
   
}

/* Statement of use */
.statement_of_use{
    height: 80px;
    background-color: #131a22;

  
}

.text1_sou a{
     
    text-decoration: none;
    color:white;
    font-size: 0.75rem;
    margin-right: 15px;
}

.text1_sou {
    text-align: center;
    padding-top: 20px;
}
.text2_sou a{
     
    text-decoration: none;
    color:white;
    font-size: 0.75rem;
    margin-right: 15px;
}

.text2_sou {
    text-align: center;
    padding: 2px;
}